.popup__container {
    margin: 0;
    padding: 34px 36px 37px;
    width: 430px;

    position: relative;

    z-index: 1;

    box-sizing: border-box;

    background: white;
    border-radius: 10px;

    scale: 0.2;

    transition: 0.3s;
}

.popup__container_gallery {
    padding: 0;

    background: transparent;
}

.popup__container_opened {
    scale: 1;
}

@media (max-width: 619px) {
    .popup__container {
        padding: 25px 22px;

        width: 282px;
    }

    .popup__container_gallery {
        padding: 0;
    }
}