.information__text {
    margin: auto;

    width: 80%;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

@media (max-width: 619px) {
    .information__text {
        font-size: 15px;
        line-height: 17px;
    }
}