.footer__copyright {
    margin: 0;
    padding: 0;

    color: #545454;

    font-weight: 400;
    font-size: 24px;
    line-height: 22px;

    cursor: pointer;

    transition: 0.3s;
}

.footer__copyright:hover {
    scale: 1.05;
}

@media (max-width: 619px) {
    .footer__copyright {
        font-size: 18px;
        line-height: 17px;
    }
}