.cards__info {
    margin: 0;
    padding: 25px 19px 25px 21px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 10px;

    background: white;
}
