.cards__like-button {
    height: 22px;
    width: 22px;

    background: transparent url(../../../images/like-button.svg) no-repeat;
    border: none;

    cursor: pointer;
}

.cards__like-button:hover {
    opacity: 0.5;
}

.cards__like-button:active {
    opacity: 1;

    background-image: url(../../../images/like-button_active.svg);
}
