.header__title{
    margin: 0 0 20px;

    color: #808080;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 619px) {
    .header__title {
        margin: 0 0 30px;

        width: 104px;
        height: 24px;
    }
}